body {
    height: 95vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    color: rgb(44, 139, 44);
    background: black;
}

#snake {
    border-style: solid;
    border-width: 5px;
    border-color: green;
}

#key-press-display-box {
    position: absolute;
    font-size: 33px;
    float: right;
    padding: 10px;
   border: solid; bottom: 20px; right: 20px;
    color: green;
}
